@import './../../../css/variables/index.css';

.icon {
    margin: 0 auto;
    width: 175px;
    height: 175px;
}
.base {
    width: 100%;
    height: 100%;
}
.baseHidden { 
    display: none;
}
.ccFrame {
    path {
        opacity: 1;
        stroke: $colorDarkest;
        fill: $colorDarkest;
    }
}
.ccBody {
    opacity: 0;
}
.ccBody:hover {
    opacity: 1;
    fill: $colorLightest;    
}
.ccActive {
    opacity: 1;
    fill: $colorDarkest;
}
.ccMenu {
    opacity: 1;
    fill: $colorLight; 
}
